$color-primary: #8a2b06;
$white : white;

.btn{
    cursor: pointer;
    color: $white;
    border: none;
}

@mixin buttons-mixin($width , $height, $fontSize) {
    width: $width;
    height: $height;
    border-radius: 5rem;
    font-size: $fontSize;
}
.btn-primary{
    @extend .btn;
    @include buttons-mixin(8rem, 2.5rem, 1rem);
    font-weight: bold;
    // color: $color-primary;
}
.btn-secondary{
    @extend .btn , .close-btn;
    @include buttons-mixin(3.5rem, 2rem, 20px);
    margin-right: 4px;
}
.close-btn{
    color: $color-primary;
    background-color: $white;
    border : $color-primary solid 1px;
}
.order-btn{
    background-color: $color-primary;
    color: $white;
}

.add-btn{
    background-color: $color-primary;
    color: $white;
    margin-top: 3rem;
}
.cancel-btn{
    @extend .close-btn;
}
.fetch-btn{
    @extend .close-btn;
    border : royalblue solid 1px;
    background-color: royalblue;
    color: white;
    display: block;
    margin: auto;
    margin-top: 2rem;
}
button:disabled,button[disabled]{
    border: 1px solid #999999 !important;
    background-color: #cccccc !important;
    color: #666666;
    cursor: auto;
}