.btn{
    cursor: pointer;
    color: white;
    border: none;
}
.btn-primary{
    width: 8em;
    height: 2.5em;
    border-radius: 5em;
    font-size: 15px;
    font-weight: bolder;
}
.btn-secondary{
    width: 3.5em;
    height: 2em;
    border-radius: 8px;
    color: #8a2b06;
    background-color: white;
    margin-right: 4px;
}


.add-btn{
    background-color: #8a2b06;
}
.close-btn , .btn-secondary{
    background-color: white;
    color: #8a2b06;
    border : #8a2b06 solid 1px;
}
.order-btn{
    background-color: #8a2b06;
    color: white;
}