.menu-cart {
    height: 8em;
    padding: 1em 2em;
    border-bottom: 2px solid gray;
    /*flex for right and left side of menu-cart : */
    display: flex;
    justify-content: space-between;
}
.menu-cart-title , .menu-cart-price , .amount-label{
    font-weight: bold;
    margin: 4px 0;
}
.menu-cart-amount {
    margin: 10px 0;
}
.amount-input {
    width: 5em;
    height: 2em;
    margin-left: 1em;
}
.menu-cart-price{
    font-size: 1.2em;
    color: rgb(255, 68, 0);
}
